<h1 class="mt-3">Selectores anidados</h1>
<hr />

<form [formGroup]="form">
  <!-- Region -->
  <div class="col">
    <label class="form-label">Continente:</label>
    <select formControlName="region" class="form-select">
      <option value="">--- Seleccione Continente ---</option>
      @for (region of regions; track $index) {
      <option [value]="region | lowercase">{{ region }}</option>
      }
    </select>
  </div>

  <!-- Países -->
  <div class="col">
    <label class="form-label">País:</label>
    <select formControlName="country" class="form-select">
      <option value="">--- Seleccione País ---</option>
      @for (country of countries$ | async; track country.cca3) {
      <option [value]="country.cca3">{{ country.name }}</option>
      }
    </select>
  </div>
</form>

<h3>Formulario</h3>
<code>
  {{ form.value | json }}
</code>
<p>is form valid: {{ form.valid }}</p>
