<nav class="w-screen flex justify-end items-center bg-blue-600 py-4">
  <ul class="flex gap-4">
    <li>
      <a
        [routerLink]="'/about'"
        class="px-4 py-2 rounded-md normal-case text-slate-200 hover:bg-blue-400 hover:text-slate-200"
        routerLinkActive="bg-slate-200 text-slate-800"
        >Sobre nosotros</a
      >
    </li>
    <li>
      <a
        [routerLink]="'/pricing'"
        class="px-4 py-2 rounded-md normal-case text-slate-200 hover:bg-blue-400 hover:text-slate-200"
        routerLinkActive="bg-slate-200 text-slate-800"
        >Precio</a
      >
    </li>
    <li>
      <a
        [routerLink]="'/contact'"
        class="px-4 py-2 rounded-md normal-case text-slate-200 hover:bg-blue-400 hover:text-slate-200"
        routerLinkActive="bg-slate-200 text-slate-800"
        >Contactanos</a
      >
    </li>
  </ul>
</nav>
