<form
  class="flex flex-col gap-2 my-8"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <label class="input validator">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
      </g>
    </svg>
    <input
      type="email"
      placeholder="correo@mail.com"
      required
      formControlName="email"
      autocomplete="off"
    />
  </label>
  <div class="validator-hint hidden">Formato de correo invalido</div>
  <label class="input validator">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <path
          d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
        ></path>
        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
      </g>
    </svg>
    <input
      type="password"
      required
      placeholder="Contraseña"
      minlength="6"
      formControlName="password"
    />
  </label>
  <p class="validator-hint hidden">
    La contraseña debe tener mínimo 6 caracteres
  </p>
  <label class="input">
    <svg
      class="opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
    >
      <g
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
      >
        <circle cx="8" cy="6" r="3.25" />
        <path d="M2.75 14.25c0-2.5 2-5 5.25-5s5.25 2.5 5.25 5" />
      </g>
    </svg>
    <input type="text" class="grow" placeholder="Nombre completo" formControlName="fullName"/>
  </label>

  <button class="btn btn-primary" type="submit">Registrar</button>
  @if (hasError()) {
    <div role="alert" class="alert alert-error">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span>Por favor verifique la información</span>
    </div>
  }
</form>
