<h3>Agregar: {{ name() }}</h3>
<input
  type="text"
  class="form-control my-4"
  placeholder="Nombre"
  [value]="name()"
  (change)="name.set(txtName.value)"
  (input)="name.set(txtName.value)"
  #txtName
>
<h3>{{ power() }}</h3>
<input
  type="number"
  class="form-control my-4"
  placeholder="Poder"
  [value]="power()"
  (change)="power.set(+numberPower.value)"
  (input)="power.set(+numberPower.value)"
  #numberPower
>
<!-- (click)="addCharacter()" -->
<button
  class="btn btn-primary mt-2"
  (click)="addCharacter()"
>Agregar</button>