<section class="w-full h-full flex flex-col gap-4">
  <div
    class="card w-full h-1/3 bg-base-200 border border-slate-700 shadow-sm"
  >
    <div class="card-body">
      <h1 class="card-title text-slate-300 underline">Capital</h1>
      <div class="h-full w-full flex justify-center items-center">
        <span class="badge badge-xl badge-info">{{ country().capital }}</span>
      </div>
    </div>
  </div>
  <div
    class="card w-full h-1/3 bg-base-200 border border-slate-700 shadow-sm"
  >
    <div class="card-body">
      <h1 class="card-title text-slate-300 underline">Población</h1>
      <div class="h-full w-full flex justify-center items-center">
        <div class="stats shadow">
          <div class="stat">
            <div class="stat-figure text-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 50 50"
              >
                <defs>
                  <mask id="IconifyId195d3010dafe09cb51">
                    <path
                      fill="#555"
                      stroke="#fff"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="4"
                      d="M24 20a7 7 0 1 0 0-14a7 7 0 0 0 0 14M6 40.8V42h36v-1.2c0-4.48 0-6.72-.872-8.432a8 8 0 0 0-3.496-3.496C35.92 28 33.68 28 29.2 28H18.8c-4.48 0-6.72 0-8.432.872a8 8 0 0 0-3.496 3.496C6 34.08 6 36.32 6 40.8"
                    />
                  </mask>
                </defs>
                <path
                  fill="currentColor"
                  d="M0 0h48v48H0z"
                  mask="url(#IconifyId195d3010dafe09cb51)"
                />
              </svg>
            </div>
            <div class="stat-title text-primary">Ciudadanos</div>
            <div class="stat-value text-info">
              {{ country().population | number }}
            </div>
          </div>
        </div>
        <!-- <span>{{ country() | json}}</span> -->
      </div>
    </div>
  </div>
  <div
    class="card w-full h-1/3 bg-base-200 border border-slate-700 shadow-sm"
  >
    <div class="card-body">
      <h1 class="card-title text-slate-300 underline">
        Información de interes
      </h1>
      <div class="h-full w-full flex justify-center items-center">
        <div class="flex flex-col w-full">
          <div>
            <label class="font-bold">Código e ícono: </label>
            <span>{{ country().cca2 }} - {{ country().flag }}</span>
          </div>
          <div>
            <label class="font-bold">Husos: </label>
            <span>{{ timezones }}</span>
          </div>
          <div>
            <label class="font-bold">Lenguajes: </label>
            <span>{{ languages }}</span>
          </div>
          <a
            [href]="country().maps"
            class="link link-hover link-primary col-span-2 text-center"
            target="_blank"
            >Maps {{ country().name }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
